services:
  microreads:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: microreads
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./covers:/app/covers
